<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twig フォーム</title>

    <style type="text/css">

    ::selection { background-color: #E13300; color: white; }
    ::-moz-selection { background-color: #E13300; color: white; }

    body {
        background-color: #fff;
        margin: 40px;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #4F5155;
    }

    a {
        color: #003399;
        background-color: transparent;
        font-weight: normal;
    }

    h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
    }

    h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
    }

    code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
    }

    #body {
        margin: 0 15px 0 15px;
    }

    p.footer {
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
    }

    #container {
        margin: 10px;
        border: 1px solid #D0D0D0;
        box-shadow: 0 0 8px #D0D0D0;
    }

    .form-box {
        width: 500px;
        margin-bottom: 10px;
    }
    .form-title {
        font-size: 14px;
        font-weight: bold;;
    }
    </style>
</head>
<body>

<div id="container">
  <h1>Twig フォーム</h1>

  <div id="body">
    {% autoescape %}
    <form action="/member/submit" method="post">
      <div class="form-box">
        <div class="form-title">名前：</div>
        <input type="text" name="name" value="{{ member.name }}">
      </div>
      <div class="form-box">
        <div class="form-title">Email：</div>
        <input type="text" name="email" value="{{ member.email }}">
      </div>
      <div class="form-box">
        <div class="form-title">年齢：</div>
        <select name="age" size="1">
          {% for age_info in age_info_list %}
            <option value="{{ age_info.value }}" {{ age_info.value == member.age ? 'selected' }}>{{ age_info.label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-box">
        <div class="form-title">性別：</div>
        {% for gender_info in gender_info_list %}
          <input type="radio" name="gender" id="member-gender-{{ gender_info.value }}" value="{{ gender_info.value }}" {{ gender_info.value == member.gender ? 'checked' }}>
          <label for="member-gender-{{ gender_info.value }}">{{ gender_info.label }}</label>
        {% endfor %}
      </div>
      <div class="form-box">
        <div class="form-title">Memo：</div>
        <textarea name="memo" rows="5" cols="50">{{ member.memo }}</textarea>
      </div>
      <div class="form-box">
        <input type="submit" value="送信">
      </div>
    </form>
    {% endautoescape %}
  </div>
</div>

</body>
</html>